body {
    margin: 0;
    font-family: 'Scheherazade', 'Amiri', serif;
    color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #000000;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    font-size: 2.8rem;
    margin: 40px 0 20px 0;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
    0% {opacity: 0; transform: translateY(-30px);}
    100% {opacity: 1; transform: translateY(0);}
}

#ayah-container {
    background-color: #161616;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 25px;
    width: 90%;
    max-width: 800px;
    min-height: 500px;
    overflow-y: auto;
    font-size: 1.5rem;
    line-height: 2;
    text-align: right;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    transition: transform 0.4s, box-shadow 0.4s;
    animation: fadeIn 1s ease;
    border-left: 4px solid #82aaff;
    border-right: 4px solid #82aaff;

}

#ayah-container:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

button {
    background: linear-gradient(45deg, #7fdbca, #50bfa0);
    color: #011627;
    border-radius: 15px;
    padding: 12px 25px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    margin: 25px 0;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}

button:hover {
    background: linear-gradient(45deg, #50bfa0, #2e9d84);
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    #ayah-container {
        font-size: 1.1rem;
        padding: 15px;
    }
    button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
